<a href="https://colab.research.google.com/github/etiennedemontalivet/teaching/blob/master/colab/02_Data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Datasets analysis with pandas and plotly
***

# Space missions

## Get and check data

Upload the 2 csv files in colab:

* *space_missions.csv*
* *space_missions_data_dictionary.csv*

In [ ]:
from google.colab import files
files.upload();

In [ ]:
# Use pandas to read both files space_missions.csv and 
# space_missions_data_dictionary.csv in two variables data and data_desc

In [ ]:
# display data
data

In [ ]:
# display data_desc
data_desc

## Explore data

In [ ]:
# analyse the description of data (use describe function)

## Question 1

How have rocket launches trended across time? Has mission success rate increased?

In [ ]:
# Create a dataframe df_year that has:
#    - 3 columns: launch, success, failure
#    - indexes are the years from 1957 to 2022
# Init the dataframe with zeros

In [2]:
# Check the value and counts of MissionStatus columns (use .value_counts())

Let's put all not-successful mission in the same "failure" columns

In [3]:
# Write a loop over data rows. Extract the year of current row. Increment the
# number of launches of the  corresponding year in df_year dataframe. Increment
# the number of success or failure of the corresponding year.

In [ ]:
# display df_year dataframe

In [ ]:
# let's check that some basics stuff to be more confident in our code
assert df_year["launch"].sum() == data.shape[0]
assert (df_year["launch"] == (df_year["failure"] + df_year["success"])).all()

In [ ]:
# Use plotly line to plot the number of launch per year

In [ ]:
# Add success and failure per year in previous plot

In [ ]:
# Add a new column in df_year named failure_percent that contains
# the percentage of failed launch per year

In [ ]:
# Use make_subplots, add_trace and go.Scatter to display a figure with 2 subplots:
#  * the number of lanch, success, failure over time
#  * the percentage of successful launch over time

Answer the question 1:

## Question 2

Which countries have had the most successful space missions? Has it always been that way?

*Note*: create 2 new columns:
* `Country`: the country name
* `Country_iso`: the country name in ISO format with 3 letters

In [ ]:
# search on google for a python librairy that could handle country names and 
# install it
# NOTE: the module must be able to handle 3-letters ISO format and even 
# search for a country name

In [ ]:
# import this new module

Firstly, we want to add the 2 new columns. Let's do it by trying to use the location.

In [ ]:
# Create a new list named countries. In a for loop over rows, split the 
# current location and append the last part in variable countries

In [ ]:
# Display unique values of countries

In [ ]:
# In a for loop over unique countries, print the current country with the
# corresponding output of search_fuzzy of imported module.
# Update your code for countries that are not found by the module by checking
# on internet the real location and add them so the output of search_fuzzy is 
# printed for every value in countries

In [ ]:
# Now create 2 dictionaries named:
#   * country_to_iso: keys are values from countries, values are country
#     iso name
#   * country_to_iso_3: keys are values from countries, values are 3 letters
#     country iso name

In [ ]:
# Finally create 2 new columns in data named "Country" and "Country_iso" with
# respectively the country iso name and the country 3-letters iso name

In [ ]:
# Display the head of data to check the new columns

Now that we have explicitly the country names in our data, we can deal with the years (to answer "Has it been always the case"). We plan to plot the number of successful missions per country over the years.

In [ ]:
# Now, add a column named year to data and fill it with years

In [ ]:
# Display the head to check the new data column

In [ ]:
# Create a list and iteratively append 4 values in it: 
#   - year
#   - country
#   - number of launches of current country in this current year
#   - number of successful launches of current country in this current year
#
# Help: you could use numpy.logical_and combined with numpy.sum for launch and success

In [ ]:
# Create a dataframe named df_country with 4 columns : 
#   ["year", "country", "launch", "success"]
# Use the list above for the dataframe's data

In [ ]:
# Display df_country

In [ ]:
# Using plotly line, display the Number of successful launches per country 
# over the years.
# Don't forget that a figure must have a title and x-y labels.

## Question 3

Which rocket has been used for the most space missions? Is it still active?

## Question 4 

What is the distribution of status over all missions ?
Using plotly, show :
* the average success rate on a world map
* the number of launches per country since 1957 on a world map

Comment about Kenya.